<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>175631373882-ou8art46d56gtt10urc9v0hj9ectt378.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.175631373882-ou8art46d56gtt10urc9v0hj9ectt378</string>
	<key>API_KEY</key>
	<string>AIzaSyBtvpyZ0XB6Hi0v5QGtN8Qm7eS9z_oKaiU</string>
	<key>GCM_SENDER_ID</key>
	<string>175631373882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.irshya.MiAR</string>
	<key>PROJECT_ID</key>
	<string>praxis-zoo-521</string>
	<key>STORAGE_BUCKET</key>
	<string>praxis-zoo-521.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175631373882:ios:1342fc8169d4c0aa</string>
	<key>DATABASE_URL</key>
	<string>https://praxis-zoo-521.firebaseio.com</string>
</dict>
</plist>